# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
myenv/
.env/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/
.pyre/

# Build
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite3

# Alembic (optional)
# Ignore only generated cache, NOT migration scripts
alembic/__pycache__/

# Docker
docker-compose.override.yml

# Temporary files
*.swp
*.swo